.PrinterInfo-Container {
    position: relative;
    width: 320px;
    padding-top: 60px;
    background-color: var(--ice-white);
    border-radius: 20px;
    border: 2px solid var(--black);
    text-align: center;
}

.Printer-Avatar {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(0, 53, 102);
    padding: 6px;
    border-radius: 50%;
}

.Printer-Avatar img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid var(--black);
}

.PrinterInfo-Card {
    padding: 20px;
}

.Wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Wrapper li {
    padding: 8px 0;
    border-bottom: 1px solid var(--black);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.Wrapper li:last-child {
    border-bottom: none;
}
