.section_dashboard {
    background: var(--ice-white);
    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding: 24px;
    min-height: 100vh;
    box-sizing: border-box;
}

.dashboard-container {
    width: 100%;
    max-width: 1440px;
    height: auto;
    background-color: var(--green);
    background-image: url("../Assets/Pattern.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}

.timer_container {
    width: 100%;
    max-width: 616px;
    display: flex;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    gap: clamp(30px, 10vw, 5rem);;
    padding: 20px 1rem;
    box-sizing: border-box;
}

.timer_container img {
    width: clamp(60px, 10vw, 143.03px);
    height: auto;
    flex-shrink: 0;
    flex-wrap: nowrap;
}    

@media (max-width: 768px) {
    .timer_container {
    gap: 1rem;
    }

    .timer_container img {
    max-width: 90px;    
    }
}

@media (max-width: 420px) {
    .timer_container img {
    display: none;
    }
}

.printers {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    justify-items: center;
    padding-bottom: 4rem;
    padding-top: 2rem;
}

@media (max-width: 768px) {
  .printers {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .printers {
    grid-template-columns: 1fr;
  }
}