* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.auth-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;

    /*background: linear-gradient(
        135deg,
        #667eea,
        #764ba2
    );*/

     background: linear-gradient(
        135deg,
        #003566, #004870, #005974, #006A79, #007B7B, #008E74, #00A35E, #39B241, #81BD1E, #C0C300, #FFC300
    );  
}

.auth-container {
    width: 100%;
    max-width: 500px;
    background-color: var(--ice-white);
    border-radius: 20px;
    padding: 24px;
    display: flex;
    justify-content: center;
    border: 0.05em solid var(--black);
}

.text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: clamp(24px, 5vw, 24px);
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: clamp(16px, 4vw, 16px);
    font-weight: 400;
    text-align: center;
}

span {
    display: block;
    width: 100%;
    max-width: 360px;
    height: 1px;
    background-color: var(--black);
    margin: 24px 0;
    border-radius: 2px;
    opacity: 0.25;
}

.log-button {
    width: 100%;
    max-width: 360px;
    height: 48px;
    background-color: #3498DB;
    border: none;
    border-radius: 10px;
    color: var(--ice-white);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 32px;

    transition:
        background-color 0.25s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.log-button:hover {
    background-color: #2e86c1;
    transform: translateY(-2px);
    box-shadow: 0 10px 24px rgba(52, 152, 219, 0.35);
}

.log-button:active {
    transform: translateY(0);
    box-shadow: 0 5px 12px rgba(52, 152, 219, 0.25);
}

@media (max-width: 700px) {
    .auth-container {
        padding: 24px;
        border-radius: 20px;
    }

    button {
        font-size: 15px;
    }
}

.GoogleLogo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.reg-button {
    width: 100%;
    max-width: 360px;
    height: 48px;
    background-color: #f1f5f9;
    border-radius: 10px;
    border-width: 1px;
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-color: var(--black);
}

.reg-button:hover {
    background-color: var(--black);
    color: var(--ice-white);
}