body.no-scroll {
overflow: hidden;
height: 100vh;
touch-action: none;
}

nav {
  position: sticky;
  top: 20px;
  z-index: 999;

}

.nav-container {
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(32, 138, 57, 0.25);
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#LogoCC-nav {
    height: 63px;
    margin-left: 1.5em;
    background-color: rgba(29,29,29,0.5);
    border-radius: 50px;
    transition: transform 0.3s ease;
    margin-right: 1em;
}

#LogoCC-nav:hover {
    transform: scale(1.05);
}

#LogoOSFIIR-nav {
    height: 64.16px;
    margin-right: 1.5em;
    background-color: rgba(29,29,29,0.5);
    border-radius: 50px;
    transition: transform 0.3s ease;
    margin-left: 1em;
}

#LogoOSFIIR-nav:hover {
    transform: scale(1.05);
}

.nav-links {
  display: flex;
  gap: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links a{
    position: relative;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: var(--ice-white);
    padding: 10px 8.5px;
    border-radius: 50px;
    border: 2.5px solid var(--yellow);
    background: transparent;
    cursor: pointer;
    text-align: center;
    background-color: rgba(29, 29, 29, 0.25);
    word-spacing: 0.2em;
    font-family: "Inter", sans-serif;
}

.nav-links a:hover {
    background-color: var(--yellow);
}

.nav-links a.active {
    background-color: var(--yellow);
}

.nav-links a.active::after {
    width: 60%;
}

.log-btn {
  padding: 10px 8.5px;
  border: 2.5px solid var(--black);
  color: var(--ice-white);
  border-radius: 50px;
  font-weight: 700;
  cursor: pointer;
  background: transparent;
  text-align: center;
  font-size: 20px ;
  font-family: "Inter", sans-serif;
  word-spacing: 0.2em;
  background-color: rgba(29, 29, 29, 0.25);
  transition: transform 0.3s ease;
}

.log-btn:hover {
  background-color: var(--black);
  transition: all 0.3s ease;
} 

.burger-menu {
  display: none;
  width: 1.25em;
  height: 1em;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger {
  width: 100%;
  height: 0.2em;
  background-color: var(--black);
  border-radius: 0.5em;
}

.burger-menu.clicked .burger:nth-child(1) {
  transform: rotate(-45deg) translate(-4px, 4px);
}

.burger-menu.clicked .burger:nth-child(2) {
  opacity: 0;
}

.burger-menu.clicked .burger:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -5px);
}


.menu-class {
  position: fixed;
  top: 120px;
  right: 24px;
  width: calc(100vw - 48px);
  height: calc(100vh - 64px);
  
  background: rgba(32, 138, 57, 0.25);
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);

  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.15);
  transform: translateY(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  padding: 1rem;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.menu-class ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-class li {
  margin-bottom: 0.5rem;
}

.menu-class a {
  display: block;
  padding: 0.75em 1em;
  text-decoration: none;
  font-weight: 700;
  color: var(--ice-white);
  border-radius: 50px;
  border: 2.5px solid var(--yellow);
  background-color: rgba(29, 29, 29, 0.25);
  font-size: 20px;
  text-align: center;
  word-spacing: 0.2em;
  font-family: "Inter", sans-serif;
}

.menu-class a:hover,
.menu-class a.active {
  background-color: var(--yellow);
}

.menu-class.visible {
  transform: translateY(0);
}

.menu-class.hidden {
  transform: translateY(100%);
}

.menu-class li button {
  width: 100%;
  padding: 0.6em;
  border: 2.5px solid var(--black);
  border-radius: 50px;
  background-color: rgba(29, 29, 29, 0.25);
  color: var(--ice-white);
  font-weight: 700;
  cursor: pointer;
  font-size: 20px;
  word-spacing: 0.2em;
  font-family: "Inter", sans-serif;
}

.menu-class li button:hover {
  background-color: var(--black);
}

@media (max-width: 780px) {
  .nav-links {
    display: none;
  }

  .burger-menu {
    display: flex;
  }

  .user-action {
    display: none;
  }
}