.printer-container {
  width: 220px;
  height: 220px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  border-radius: 20px;
  border: 4px solid rgba(255,255,255,0.6);
  font-family: 'Inter', sans-serif;
}
.printer-title {
font-size: 26px;
font-weight: 600;
text-align: center;
margin: 0;
}

.status-text {
font-size: 22px;
font-weight: 500;
text-align: center;
margin: 0;
}

.status-dot {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 0.1em solid rgba(0,0,0,0.4);
}

.printer-container.available {
  background-color: #B6EFA1;
}
.printer-container.available .status-dot {
  background-color: #4CAF50;
}

.printer-container.busy {
  background-color: #FFB3B3;
}
.printer-container.busy .status-dot {
  background-color: #E53935;
}

.printer-container.warning {
  background-color: #FFF9B0;
}
.printer-container.warning .status-dot {
  background-color: #FDD835;
}

.printer-container.error {
  background-color: #F6B27B;
}
.printer-container.error .status-dot {
  background-color: #EF6C00;
}
