nav {
  position: relative;
}

.nav-container {
    box-sizing: border-box;
    background-color: var(--ice-white);
    width: 100%;
    height: 64px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

#LogoCC {
    height: 36px;
}

#LogoOSFIIR {
    height: 64px;
}

.nav-links {
    display: flex;
    gap: 2em;
    list-style: none;
}

.nav-links a {
    position: relative;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: var(--black);
    padding: 0.75em 1em;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.nav-links a:hover {
    background-color: var(--yellow-transparent);
}

.nav-links a::after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--black);
    transition: width 0.3s ease;
    transform: translateX(-50%);
}

.nav-links a.active {
    background-color: var(--yellow-transparent);
}

.nav-links a.active::after {
    width: 60%;
}

.user-action {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-right: 2.25rem;
}

.user-action button {
    padding: 0.45em 1em;
    border-radius: 6px;
    border: none;
    background-color: var(--black);
    color: var(--ice-white);
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.user-action button:hover {
    background-color: #333;
}

.user-action p {
    margin: 0;
    font-weight: 500;
    color: var(--black);
}